/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';

$font-family: "Atkinson Hyperlegible", sans-serif;

$link-color: #0B5B4B;

// Update contrast for accessiblity
$pagination-bg: #4dd9bd;
$pagination-color: #0b0b0b;
$pagination-active-bg: #07eec0;
$pagination-active-color: #0b0b0b;

/*-- scss:rules --*/

.button {
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: white;
}

.button1 {
  background-color: #2c3e50;
}

.homebox {
  max-height: 200px;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  background-color: #ecf0f1;
}

@media (max-width: 365px) {
  .homebox {
    max-height: 250px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    background-color: #ecf0f1;
  }
}
