/*-- css styles --*/

.navbar-brand > img {
  max-height: 36px;
  max-width: 36px;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .hide-twitter-timeline {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-twitter-timeline {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 1080px) {
  .grid .g-col-home-6 {
    grid-column: auto/span 6;
    grid-column-start: auto;
    grid-column-end: span 6;
  } 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-button {
  display: block;
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 237.5%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/*
Using a floating `sidebar` in Quarto sets the `floating` class on the `body` element, which in turn
causes bootstrap to not apply `border-top` to `nav-footer`, so we use this work around to
make the footer border always appear.
*/
body .nav-footer {
  border-top: 1px solid #dee2e6;
}
