/*-- css styles --*/

.navbar-brand > img {
  max-height: 36px;
  max-width: 36px;
  margin-right: 15px;
}

@media screen and (max-width: 767px) {
  .hide-twitter-timeline {
    visibility: hidden;
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .show-twitter-timeline {
    visibility: hidden;
    display: none;
  }
}

@media (min-width: 1080px) {
  .grid .g-col-home-6 {
    grid-column: auto/span 6;
    grid-column-start: auto;
    grid-column-end: span 6;
  } 
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-button {
  display: block;
  text-align: center;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 237.5%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* 
Unlike in Quarto v1.3.298, in Quarto v1.4.555 the footer elements are not vertically center aligned. 
Below is a fix. 
*/

body .nav-footer {
    align-items: center;
}

body .nav-footer-center {
    min-height: unset;
}

/*
Fix horizontal alignment of center footer.
*/

body > footer > div > div.nav-footer-center > div > ul {
  padding-left: 0;
}

/* Make an element invisible but focusable, e.g. for screen reader keyboard navigation */
.jedi-hidden-and-focusable {
  position: absolute !important;
  width: 0px !important;
  height: 0px !important;
  padding: 0 !important;
  margin: 0px !important;
  border: 0 !important;
  clip-path: inset(0px 0px) !important;
  white-space: nowrap !important;
  overflow: hidden !important;
}

.jedi-list-item {
  clear: both;
}

.jedi-list-item img {
  float: left;
  margin-top: 6px;
  margin-right: 15px;
  margin-bottom: 15px;
}
