# Dev tools
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.vscode/
# Quarto render
/.quarto/
/_site/

# Local Netlify folder
.netlify

# For any quarto_setup.sh script artifacts
quarto-1.5.57-linux-amd64.tar.gz*
